/* ProgramEvent.css */

.program-event-container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100px;
   margin-top: 100px;
}

.program-event {
   width: 800px;
   background-color: #f0f0f0;
   border: 1px solid #ccc;
   padding: 8px;
   margin-bottom: 8px;
}

.event-title {
   font-size: 24px;
   font-weight: bold;
   margin-bottom: 4px;
}

.event-date {
   font-size: 14px;
   font-style: italic;
   margin-bottom: 2px;
}

.event-location {
   font-size: 16px;
   margin-bottom: 2px;
}

.event-description {
   font-size: 16px;
}
.App-main {
   margin-top: 150px;
   margin-bottom: 80px;
}
.show-more-btn {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  margin-bottom: 20px;
}

.show-more-btn:hover {
  background-color: #45a049;
}